body{
    background-color: #514F44;
}
@font-face {
    font-family: "Naruto-font";
    src: url(Font/naruto/njnaruto.ttf);
}
#mainnavbar {
    background-color: #EC6000;
}
p {
    font-family: "Naruto-font",sans-serif;
    word-spacing: 5px;
}
.photo{
    height: auto;
    width: 100%;
    border: 2px solid black;
    
}


/* Color Theme Swatches in Hex */
.Cópia-de-narutocolors-1-hex {
    color: #514F44;
}

.Cópia-de-narutocolors-2-hex {
    color: #B13C25;
}

.Cópia-de-narutocolors-3-hex {
    color: #EC6000;
}

.Cópia-de-narutocolors-4-hex {
    color: #21455E;
}

.Cópia-de-narutocolors-5-hex {
    color: #ECE73F;
}